<h1>Notes</h1>

<div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
  <div class='swipe-wrap'>

    <!-- This is a thing -->
    


    <% @passages.each do |passage| %>
    <div>

      <h3><%= passage.title %> </h3>
      <i>
        "<%= passage.quote %>"  
        
         
      </i>
      <center>
      <b><%= passage.author %></b> <span> Page: <%= passage.page %> </span>
      </center>

      <center>
     <%= link_to 'Show', passage %> 
     <%= link_to 'Edit', edit_passage_path(passage) %> 
     <%= link_to 'Destroy', passage, method: :delete, data: { confirm: 'Are you sure?' } %> 
     </center>
    </div>
     
     <% end %>
    <!-- k -->
  </div>
</div>



<div style='text-align:center;padding-top:20px;'>
  
  <button onclick='mySwipe.prev()'>prev</button> 
  <button onclick='mySwipe.next()'>next</button>

</div>


<%= link_to 'New Passage', new_passage_path %>
